{% extends 'master/master.html' %}

{% block 'body' %}

 <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            {% include 'component/message.html' %}
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Change your password</h1>
              </div>
              <form class="user" method="post">
                <div class="form-group row">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" name="new_password1" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" name="new_password2" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                  </div>
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Reset password
                </button>
                <hr>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

