{% extends 'master/master.html' %}
 {% block 'sidebar' %}
{% load static %}
  {% include 'component/sidebar.html' %}
 {% endblock %}

 {% block 'navbar' %}
  {% include 'component/nav.html' %}
 {% endblock %}

 {% block 'footer' %}
{% include 'component/footer.html' %}
 {% endblock %}

{% block 'body' %}
 {% include 'component/message.html' %}

 <div class="row">
    <div class="col-md-3" style="background-color: green; color: white; border-radius: 10px;">
        <h4>Day Income</h4>
        <h5>Rs. {{ income.amount__sum }}</h5>
    </div>

    <div class="col-md-3 ml-3" style="background-color: red; color: white; border-radius: 10px;">
        <h4>Total Expenses</h4>
        <h5>Rs. {{ exp.amount__sum }}</h5>
    </div>

    <div class="col-md-3 ml-3" style="background-color: blue; color: white; border-radius: 10px;">
        <h4>Total Saving</h4>
        <h5>Rs. 0.0</h5>
    </div>
     <!-- Donut Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <hr>
                  Styling for the donut chart can be found in the <code>/js/demo/chart-pie-demo.js</code> file.
                </div>
              </div>
            </div>
          </div>
 </div>
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

// Pie Chart Example
var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: {{cat|safe}},
    datasets: [{
      data: {{amount}},
      backgroundColor: {{bg|safe}},
      hoverBackgroundColor: {{hc|safe}},
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 80,
  },
});
</script>

{% endblock %}

