{% extends 'master/master.html' %}

 {% block 'sidebar' %}
  {% include 'component/sidebar.html' %}
 {% endblock %}

 {% block 'navbar' %}
  {% include 'component/nav.html' %}
 {% endblock %}

 {% block 'footer' %}
{% include 'component/footer.html' %}
 {% endblock %}

{% block 'body' %}
{% include 'component/message.html' %}

  <h3>All Expenses</h3>
  <table class="table">
   <thead>
     <th>Title</th>
     <th>Amount</th>
     <th>date</th>
   <th>Action</th>
   </thead>
   {% for a in result %}
    <tr>
     <td>{{a.title}}</td>
     <td>{{a.amount}}</td>
     <td>{{a.date}}</td>
     <td><a href="{% url 'delete_expenses' a.id %}"><i class="fa fa-trash"></i></a> | <a href="{% url 'edit_expenses' a.id %}"><i class="fa fa-edit"></i></a> </td>
    </tr>
   {% endfor %}
  </table>
{% endblock %}
  
