{% extends 'master/master.html' %}

 {% block 'sidebar' %}
  {% include 'component/sidebar.html' %}
 {% endblock %}

 {% block 'navbar' %}
  {% include 'component/nav.html' %}
 {% endblock %}

 {% block 'footer' %}
{% include 'component/footer.html' %}
 {% endblock %}

{% block 'body' %}
 <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Save</button>
  </form>

<table class="table">
    <thead>
     <th>Category</th>
    <th>Action</th>
    </thead>
    {% for c in category %}
        <tr>
            <td>{{c.title}}</td>
            <td>Del | Edit </td>
        </tr>
     {% endfor %}
</table>

{% endblock %}

