{% extends 'master/master.html' %}

{% block 'body' %}

 <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            {% include 'component/message.html' %}
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Login!</h1>
              </div>
              <form class="user" method="post">
                 {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="username" class="form-control form-control-user" id="exampleInputEmail" placeholder="username">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Login Account
                </button>
                <hr>
              </form>
              <div class="text-center">
                <a class="small" href="{% url 'forgot_password' %}">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="login.html">Do not have an account? Create Now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block 'script' %}

{% endblock %}