{% extends 'master/master.html' %}

{% block 'body' %}

 <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            {% include 'component/message.html' %}
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Password Reset successfully!</h1>
              </div>
               Password resert successfully
                <p>Login:<a href="{% url 'login' %}">login here</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block 'script' %}

{% endblock %}